/* AccountSettingsPage.css */
.account-settings-container {
    flex-direction: column;
    align-items: center;
}

.profile-upload-container {
    margin-top: 20px; /* Adjust as needed */
}

.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
