.pc-re-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #F3F4F8, #F3F4F8);
}
.pc-re-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F4F8;
}

.pc-re-avatar-section {
  margin-bottom: 20px;
  margin-top: 20vw;
}

.pc-re-avatar {
  border-radius: 50%;
}

.pc-re-form-section {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 70%;
  padding: 20px;
  margin-bottom: px;
}

.pc-re-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.pc-re-styled-label {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  flex: 0 0 auto;
  top: 5%;
  background-color: #ffffff;
}

.pc-re-input-field {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pc-re-review-section {
  position: relative;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #F3F4F8;
}


.pc-re-review-textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pc-re-submit-button {
  width: 200px;
  height: 50px;
  background-color: #005BBB;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pc-re-form-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.pc-re-course-form {
  position: relative;
}

.pc-re-write-review-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pc-re-input-container {
  flex: 1;
}

.pc-re-avatar-rating-section {
  position: absolute;
  height: 200px;
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.pc-re-form-row label {
  margin-right: 10px;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.pc-re-form-row input {
  flex: 1;
  height: 65%;
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.pc-re-review-section textarea {
  width: 90%;
  height: 200px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.pc-re-review-section button {
  position: absolute;
  bottom: 20px;
  right: 5%;
  width: 200px;
  height: 50px;
  background: #005BBB;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
