/* Main.css */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 550px;
  height: 500px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.title {
  font-family: 'Crimson Text';
  font-weight: 600;
  font-size: 32px;
  line-height: 62px;
  text-align: center;
  color: #000000;
  margin-top: 20px; 
}

.subtitle {
  font-family: 'Crimson Text';
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px; 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
}

.label {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.textfield {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.forgot-password {
  margin-bottom: 10px;
}

.link {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background: #1F396B;
  border-radius: 8px;
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px; 
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .input {
    width: 220%; 
  }

  .textfield {
    width: calc(100% - 20px); 
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px; 
  }

  .subtitle {
    font-size: 20px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: auto; 
    height: auto; 
    padding: 0;
    box-shadow: none; 
    border-radius: 0;
    margin-top: 0; 
  }
}

@media screen and (min-width: 430px) and (max-width: 768px){
  .input {
    width: 220%; 
  }

  .textfield {
    width: calc(100% - 20px); 
  }
}

@media screen and (max-width: 429px) {
  .input {
    width: 150%; 
  }

  .textfield {
    width: calc(100% - 20px); 
  }
}